<%- include ('../partials/header') %> 
<%- include ('../partials/menu') %> 
<main>

    <!-- goal: display a page with username and their own personal book colection  -->
    <div class = "container">
        <div class = "row">
            <!-- making a note of this, will be trying to render a page with  -->
            <h1> Welcome (USER INSERT HERE)! </h1>
        </div>
        <div class = "row">
            <!-- for loop will be here, let's assume that there will be five books for now -->
            <!-- <%- data.foreach(book) -->
            <table class = "table">
                <tr>
                <!-- <%- data.foreach(book) -->
                <% for (let i = 0; i < 5; i++) { %>  
                    <td>
                        <div class = "card">
                            <img class = "card-image-top" src = "../../resources/img/stock_book_image.png" max-width = "100%" height = "auto"> 
                            <div class = "card-body">
                                <div class = "row">
                                    <h1> book title </h1>
                                </div>
                                <h6>Author</h6>
                            </div>
                        </div>
                    </td>
                <% } %>
                
                </tr>
            </table>
        </div>

    </div>
    
</main>

<%- include ('../partials/footer') %> 