<%- include ('../partials/header') %> 
<%- include ('../partials/menu') %> 
<main>

    
    <div class = "container">
        <div class = "row">
            
            <h1> Welcome <%- user.username %>! </h1>
        </div>
        <div class = "row">
            
            
            <table class = "table">
                <tr>
                
                <% books.forEach( book => { %>  
                    <td>
                        <div class = "card">
                            <img class = "card-image-top" src = "<%- book.volumeInfo.imageLinks.thumbnail %>" max-width = "100%" height = "auto"> 
                            <div class = "card-body">
                                <div class = "row">
                                    <h1><%- book.volumeInfo.title %></h1>
                                </div>
                                <h6><%- book.volumeInfo.authors.join(', ') %></h6>
                            </div>
                        </div>
                    </td>
                <% }); %>
                
                </tr>
            </table>
        </div>

    </div>
    
</main>

<%- include ('../partials/footer') %> 